/* CSS Variables */
:root {
    --pale-patch: #f1eaf7;
    --light-patch: #755b9a;
    --dark-patch: #41226f;
    --dark-text: #000000;
    --light-text: #ffffff;
    --result-text: grey;
    --result-hr: lightgrey;
}

/* Base Settings */
* {
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark-text);
}

/* Header Styling */
header {
    display: flex;
    justify-content: space-between;
}

#highscores {
    color: var(--light-patch);
    padding: 0px 10px;
    margin-left: 5px;
}

.count-down {
    padding: 5px 10px;
    margin-right: 2px;
}

/* Main framework for Quiz */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 19px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.instructions {
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.button {
    background-color: var(--dark-patch);
    color: var(--light-text);
    font-size: 1em;
    margin-left: 5px;
    border-radius: 5px 5px;
}

.start-button {
    margin-left: auto;
    margin-right: auto;   
}

.mouse-over:hover {
    cursor: pointer;
    background-color: var(--light-patch);
    color: white;
}

.framework {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-wrap: nowrap;
    width: 75%;
}

.questions {
    text-align: left;
}

.prompt {
    width: fit-content;
    background-color: var(--dark-patch);
    color: var(--light-text);
    margin-top: 3px;
    border-radius: 5px 5px;
    font-size: 16px;
}
.right-wrong {
    font-style: italic;
    color: var(--result-text);
}

hr {
    margin-top: 20px;
    height: 5px;
    background-color: var(--result-hr);
    border: none;
}

.results {
    text-align: left;
}

/* Highscore List styling */
#score-list {
    list-style-type: decimal;
    background-color: var(--pale-patch);
    padding-inline-start: 30px;
    padding-top: 11px;
    padding-bottom: 10px;
    margin-top: -5px;
}

#score-list li {
    font-size: 0.9em;
}

.hs-page{
    margin-top: 39px;
}

#hs-button-holder {
margin-top: 5px;
}

.initials {
    font-size: 1em;
}

/* Styling for smaller screens */
@media screen and (max-width:667px) {
    main {
        width: 90%;
    }

    .framework {
        width: 90%
    }

    .results-button {
        margin-top: 5px;
        margin-left: 0px;
    }

    .mouse-over:hover {
        cursor: pointer;
        background-color: var(--dark-patch);
        color: var(--light-text);
    }
}